[submodule "tools/bdftopcf"]
	path = tools/bdftopcf
	url = https://gitlab.freedesktop.org/xorg/util/bdftopcf
[submodule "bootloader"]
	path = nds-bootloader
	url = https://github.com/lifehackerhansol/blocksds-bootloader
